<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.ece.ostis"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ostis_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="fr.ece.ostis.OstisService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name="fr.ece.ostis.speech.SpeechRecognitionManager"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="fr.ece.ostis.ui.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.ece.ostis.ui.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="fr.ece.ostis.ui.NetworkWizardActivity"
            android:label="@string/title_activity_network_wizard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.ece.ostis.ui.HomeActivity" />
        </activity>
        <activity
            android:name="fr.ece.ostis.ui.FlyActivity"
            android:label="@string/title_activity_fly"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.ece.ostis.ui.HomeActivity" />
        </activity>
        <activity
            android:name="fr.ece.ostis.ui.ActionsListActivity"
            android:label="@string/title_activity_actions_list"
            android:launchMode="singleTask"
            android:parentActivityName="fr.ece.ostis.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.ece.ostis.ui.HomeActivity" />
        </activity>
        <activity
            android:name="fr.ece.ostis.ui.ActionActivity"
            android:label="@string/title_activity_action"
            android:parentActivityName="fr.ece.ostis.ui.ActionsListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.ece.ostis.ui.ActionsListActivity" />
        </activity>
    </application>

</manifest>
